<div style="text-align: center; color: beige">
  <p class="card-header bg-success">present</p>
  <p class="card-header bg-danger">absent</p>
</div>
<hr />
<div
  class="card text-white"
  [ngClass]="{
    'bg-success': employee.attendance == true,
    'bg-danger': employee.attendance == false
  }"
>
  <h4 class="card-header">Employee ID: {{ employee.id }}</h4>
  <h5 class="card-body">Name: {{ employee.name }}</h5>
</div>
<button
  class="btn btn-primary"
  (click)="displayEmployee()"
  [routerLink]="['/employee-details/employee', 900, 'Glenn']"
>
  View Store manager
</button>
