<h4>Edit Employee Details</h4>
<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <label for="empname">Employee Name:</label>
                <input type="text" id="empname" name="empname" class="form-control" [(ngModel)]="empName">
            </div>
            <div class="form-group">
                <label for="empid">Employee ID:</label>
                <input [disabled]="disableId" type="text" id="empid" name="empid" class="form-control" [(ngModel)]="empId">
            </div>
            <div class="form-group">
                <label for="empexp">Employee Experience(in yrs):</label>
                <input type="text" id="empexp" name="empexp" class="form-control" [(ngModel)]="empExp">
            </div>
            <button [disabled]="disableId" class="btn btn-primary" (click)="onAdd()">Add Employee</button>
            <button [disabled]="!disableId"class="btn btn-primary" (click)="onEdit()">Edit Employee</button>
        </form>
    </div>
</div>
