<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Artist Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Song List</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown open">
            <button class="btn btn-primary dropdown-toggle" type="button" id="triggerId" 
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="triggerId">
                <li class="dropdown-item"><a href="#">To Playlist</a></li>
                <li class="dropdown-item"><a href="#">Edit Artist</a></li>
                <li class="dropdown-item"><a href="#">Delete Artist</a></li>
            </ul>
        </div>
    </div>
</div>