<h4>Number Game</h4>
<hr>
<h5>Click below buttons to start or stop the game</h5>
<hr>
<div class="row">
  <div class="col-sm-12">
    <app-game-control (gameStarted)="gameControl($event)" (reset)="gameReset($event)"></app-game-control>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <!--Display odd numbers as left of the mirror-->
    <app-odd *ngFor="let box of odd" [boxValue]="box"></app-odd>
  </div>
  <div class="col-sm-3">
    <!--Display even numbers as right of the mirror-->
    <app-even *ngFor="let box of even" [boxValue]="box"></app-even>
  </div>
</div>