<!---Demonstration of directives-->
<!--Note: Two structural directives should not be used in a single element.-->
<div class="container" style="text-align: center;">
  <div class="row" >
    <div class="col-xs-12">
      <h1>Directives</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Custom Attribute Directives</h2>
      <p changeStyle>I am styled using direct access.</p>
      <p appCustomStyle>I am styled using Renderer.</p>
      <p appDynamicStyle>I am styled using HostListener. Hover over me.</p>
      <p appBindingStyle>I am styled using Hostbinding.</p>
      <p [appBindingStyle]="'red'" [defaultColor]="'blue'">I am styled by above directive using property binding.</p>
    </div>
    <div class="col-md-4">
      <h2>Structural Directive</h2>
      <button class="btn btn-primary" (click)="sample1 = !sample1">Click Me!</button>
      <hr style="border: none;">
      <p *ngIf='sample1'>I use *ngIf.</p>
      <ng-template [ngIf] = '!sample1'>
        <p>I use [ngIf]</p>
      </ng-template>
      <hr>
      <div *appCustomStructure="sample1">I am added to DOM by custom structural directive.</div>
      <div *appCustomStructure="!sample1">I am also added to DOM by custom structural directive.</div>
    </div>
  </div>
  <div class="col-md-4">
    <h2>ngSwitch</h2>
    <button class="btn btn-primary" (click)="value=5">Show 5</button>
    <button class="btn btn-primary" (click)="value=10">Show 10</button>
    <button class="btn btn-primary" (click)="value=50">Show 50</button>
    <div [ngSwitch]="value">
      <p *ngSwitchCase="5"> Value = 5</p>
      <p *ngSwitchCase="10"> Value = 10</p>
      <p *ngSwitchCase="50"> Value = 50</p>
      <p *ngSwitchDefault> Value = 0</p>
    </div>
  </div>
</div>