<p class="desc">Component created by Angular CLI using 'ng g c by-cli' command.</p>
<h3>Built-in Directives</h3>
<h5>1.ngIf</h5>
<button class="btn btn-primary" (click)="sample1 = !sample1">Click Me!!</button>
<p *ngIf="sample1">Hello user!!</p>
<h5>2.ngIf-else</h5>
<p *ngIf="sample1; else message">Message is shown.</p>
<ng-template #message>
    <p>Message is hidden.</p>
</ng-template>
<h5>3.ngStyle</h5>
<p [ngStyle]="{'color': sample1? 'purple': 'salmon'}">I can change color.</p>
<h5>4.ngClass</h5>
<p [ngClass]="{'model1': sample1 === false, 'model2': sample1 === true}">I can change position.</p>
<h5>5.ngFor</h5>
<button class="btn btn-primary" (click)="sample3()">Click Me!!</button>
<p *ngFor = "let value of sample2; let i=index">{{i+1}}: {{value}}</p>
