<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li
              *ngIf="!isAuthenticated || loggedOut"
              routerLink="/"
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link">Login</a>
            </li>
            <li
              *ngIf="isAuthenticated && !loggedOut"
              class="nav-item"
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link">Home</a>
            </li>
            <!--routerLinkActive would apply active to all the links in the path including empty path. 
          So, Home tab would always be active. Adding routerLinkActiveOptions would ensure class be active only when exact path is true.-->
            <li
              class="nav-item"
              routerLink="/employee-details"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link">Employee List</a>
            </li>
            <li
              class="nav-item"
              [routerLink]="['/on-duty']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link">On Duty</a>
            </li>
            <!--Providing href="/employee-details" would load the respective component but it will reload the app as a whole.-->
            <!--Providing '/on-duty' will append the path to the localhost:4200.
            Providing 'on-duty' or './on-duty' will append to existing path.
            Here, it would not make a difference as this is the root component and either would result in same path.-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
