<div class="row">
  <div class="col-sm-12 col-md-6">
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading">
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="emailId">Email ID:</label>
          <br />
          <input
            type="text"
            name="emailId"
            id="emailId"
            class="form-control"
            ngModel
            required
            email
          />
          <label for="empPassword">Password: </label>
          <br />
          <input
            type="password"
            name="empPassword"
            id="empPassword"
            class="form-control"
            ngModel
            required
            minlength="6"
          />
          <hr />
        </div>
        <button
          [disabled]="authForm.invalid"
          class="btn btn-primary"
          type="submit"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
      </form>
      <button class="btn btn-primary" (click)="switchMode()">
        Switch to
        {{ !isLoginMode ? "Login" : "Sign Up" }}
      </button>
    </div>
  </div>
</div>
